.skill{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
}

.skillTitle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.icon{
    width: 30px;
    height: 30px;
}

.title{

}

.description{

}

@media screen and (max-width: 1270px){
    .skill{
        gap: 10px;
    }
}