@keyframes return-color {
  0% {
    color: #9033A2;
  }
  100% {
    color: white;
  }
}

@keyframes change-color {
  0% {
    color: white;
  }
  100% {
    color: #9033A2;
  }
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 1px;
  margin-right: 7px;
  .item {
    height: 70px;
    width: 70px;
    background-color: #0C0E16;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    animation: return-color 0.5s;
    color: white;

    .text {
      display: flex;
      flex-direction: column;
      font-size: 12px;
      gap: 5px;
    }

    &:hover {
      color: #9033A2;
      animation: change-color 0.5s;
    }

    @media screen and (max-width: 1270px) {
      height: 70px;
      width: 70px;
      background-color: #0C0E16;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      animation: return-color 0.5s;
      color: white;
    }
  }

  .up {
    border: 1px #0C0E16 solid;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    @media screen and (max-width: 1270px) {
      border: 1px #0C0E16 solid;
      border-top-left-radius: 20px;
      border-top-right-radius: 0;
      border-bottom-left-radius: 20px;
    }
  }

  .center {
    border: 1px #0C0E16 solid;
  }

  .down {
    border: 1px #0C0E16 solid;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    @media screen and (max-width: 1270px) {
      border: 1px #0C0E16 solid;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 20px;
      border-top-right-radius: 20px;
    }
  }

  p {
    text-decoration: none;
  }

  a.activeLink {
    color: #9033A2;
  }

  @media screen and (max-width: 1270px) {
    height: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 1px;
    margin-right: 0;
  }
}
