.pagesBlock{
    min-height: 60vh;
    min-width: 60%;
/*    border: 1px white solid;*/
    border-radius: 30px;
    background-color: #0C0E16;
}

@media screen and (max-width: 1270px){
    .pagesBlock{
        min-height: 100%;
        max-width: 75%;
        min-width: 360px;
    }
}